.formzin {
    background-color: #131619;
    color: white;
}

input {
    background-color: rgba(33, 33, 34, 0.801);
    border: 1px solid rgb(51, 50, 50);
    border-radius: 5px;
    color: white;
    padding: 0px; /* Ajuste aqui para adicionar espaço à esquerda */
    outline: none;
}

input::placeholder {
    font-size: 0.85rem; /* Tamanho do placeholder (ajuste conforme necessário) */
    color: rgba(255, 255, 255, 0.6); /* Cor do placeholder (ajuste conforme necessário) */
}


button {
    background-color: #24AE7C; /* Cor de fundo do botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 5px; /* Cantos arredondados */
    color: white; /* Cor do texto no botão */
    padding: 10px; /* Espaçamento interno */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s; /* Transição suave para mudanças de cor */
}

button:hover {
    background-color: #24AE7C; /* Cor ao passar o mouse */
}
.agende-title{
    color: rgba(202, 201, 201, 0.685);
}



